---
// Components
import SpecialOffers from '../sections/SpecialOffers.astro'
import MenuItems from '../sections/MenuItems.astro'
import SmallSubtitle from '../ui/SmallSubtitle.astro'

// Libs
import { getMenuCategories, getMenuItems, getMenuVariants } from '../../lib/api/menu'
import {
  structureMenuData,
  structureMenuItemData,
} from '../../lib/utils/formatmenu'

// Get data from api
const categoriesFromApi = await getMenuCategories()
const allItemsFromApi = await getMenuItems()
const allVariantsFromApi = await getMenuVariants()
const formattedMenu = structureMenuData(categoriesFromApi, allItemsFromApi)

const todaySpecialItems = allItemsFromApi.filter(
  (item) => item.is_today_special
)
const todaySpecialFormattedItems = todaySpecialItems.map((item) =>
  structureMenuItemData(item)
)
---

<div
  class:list={[
    'container',
    'mx-auto',
    'py-16',
    'grid',
    'grid-cols-1 md:grid-cols-3',
    'gap-16',
    'justify-center md:justify-start',
    'items-center md:items-start',
  ]}
  id='menu'
>
  <div>
    <SmallSubtitle
      ish2={true}
      iswhite={false}
    >
      Menu
    </SmallSubtitle>

    <div class:list={['md:col-span-1']}>
      <SpecialOffers products={todaySpecialFormattedItems} />
    </div>
  </div>

  <div class:list={['flex', 'flex-col', 'gap-12', 'md:col-span-2', 'pt-14']}>
    {
      formattedMenu.map((menuSection) => (
        <MenuItems
          title={menuSection.title}
          items={menuSection.items}
        />
      ))
    }
  </div>
</div>
