---
import SmallSubtitle from '../ui/SmallSubtitle.astro'
import SpecialOffer from '../ui/SpecialOffer.astro'

interface Product {
  name: string
  description: string
  price: number
  image: {
    src: string
    alt: string
  }
}

interface Props {
  smallsubtitle?: string
  products?: Product[]
  class?: string
}

const {
  smallsubtitle = 'Menu',
  products = [],
  class: className = '',
} = Astro.props

const sectionStyles = ['max-w-md', 'mx-auto', 'bg-white', 'pt-0', className]
---

<section class:list={sectionStyles}>
  <SmallSubtitle
    ish2={true}
    iswhite={false}
  >
    {smallsubtitle}
  </SmallSubtitle>

  {
    products.map((product) => (
      <div data-aos='zoom-in-up'>
        <SpecialOffer
          name={product.name}
          description={product.description}
          image={product.image}
        />
      </div>
    ))
  }
</section>
