---
import SmallSubtitle from "../ui/SmallSubtitle.astro";
import SpecialOffer from "../ui/SpecialOffer.astro";

interface Product {
  name: string;
  description: string;
  price: number;
  image: {
    src: string;
    alt: string;
  };
}

interface Props {
  Title?: string;
  products?: Product[];
  class?: string;
}

const { Title = "Menu", products = [], class: className = "" } = Astro.props;
---

<section class:list={["max-w-md", "mx-auto", "bg-white", "pt-0", className]}>
  <SmallSubtitle ish2={true} iswhite={false}>
    {Title}
  </SmallSubtitle>

  {
    products.map((product) => (
      <SpecialOffer
        name={product.name}
        description={product.description}
        image={product.image}
      />
    ))
  }
</section>
