---
// Components
import Subtitle from './Subtitle.tsx'
import Schedule from './Schedule.astro'

// Props
export interface Props {
  icon: any
  title: string
  link?: string
  content: string
}

const { icon: IconComponent, title, link, content } = Astro.props

// Data
import { email } from '../../data/contact'

// Simple function to get content type
function getContentType(content: string) {
  if (content === '{{schedule}}') return 'schedule'
  if (content.includes('streetAddress')) return 'address'
  if (content === '{{email}}') return 'email'
  return 'text'
}

function getAddress(addressJson: string): string {
  const address = JSON.parse(addressJson)
  const formattedAddress = `${address.streetAddress} ${address.addressLocality}, ${address.addressRegion}, ${address.postalCode} ${address.addressCountry}`
  return formattedAddress
}
---

<article
  class:list={[
    'flex',
    'items-start',
    'gap-6',
    'text-white',
    'w-full lg:w-auto',
    'max-w-md lg:max-w-none',
    'mx-auto lg:mx-0',
  ]}
>
  <div
    class:list={[
      'flex',
      'flex-col lg:flex-row',
      'items-center lg:items-start',
      'gap-6',
      'w-full',
      'text-white',
      'no-underline',
    ]}
  >
    <div
      class:list={[
        'flex-shrink-0',
        'w-16',
        'h-16',
        'bg-white',
        'rounded-full',
        'flex',
        'items-center',
        'justify-center',
      ]}
    >
      <div
        class:list={[
          'w-8',
          'h-8',
          'flex',
          'items-center',
          'justify-center',
          'text-black',
        ]}
      >
        <IconComponent size={32} />
      </div>
    </div>
    <div class:list={['flex-1']}>
      <Subtitle
        ish2={true}
        iswhite={true}
        className='text-center md:text-left'
      >
        {title}
      </Subtitle>

      <p
        class:list={["text-center md:text-left"]}
      >
        {getContentType(content) === 'schedule' && <Schedule />}
        {getContentType(content) === 'address' && getAddress(content)}
        {getContentType(content) === 'email' && <p>{email}</p>}
        {getContentType(content) === 'text' && content}
      </p>

    </div>
  </div>
</article>
