---

// Components
import Subtitle from './Subtitle.astro'


// Props
interface Props {
  name?: string
  description?: string
  price?: number
  image?: {
    src: string
    alt: string
  }
  class?: string
}

const {
  name = 'Default Item',
  description = 'Default description for the menu item.',
  price = 0,
  image = { src: '/images/durazno.webp', alt: 'Default menu item image' },
  class: className,
} = Astro.props

const imageStyles = [
  'w-20',
  'h-20',
  'rounded-full',
  'object-cover',
  'flex-shrink-0',
]
---

<article class:list={['flex w-full items-center gap-4 py-4', className]}>
  <img
    src={image.src}
    alt={image.alt}
    class:list={imageStyles}
  />

  <div class:list={['flex w-full flex-col']}>
    <h4
      class:list={[
        'text-base md:text-3xl',
        '!font-light',
        'text-brand-black',
        'mb-0',
      ]}
    >
      {name}
    </h4>

    <div class:list={['flex w-full items-baseline gap-4']}>
      <p class:list={['text-sm text-gray-500', 'mb-0']}>{description}</p>

      <div
        class:list={[
          'flex-grow',
          'border-b-3',
          'border-dotted',
          'border-gray-300',
        ]}
      >
      </div>

      <span
        class:list={['text-xl font-bold text-brand-black whitespace-nowrap']}
        >$ {price}</span
      >
    </div>
  </div>
</article>
