---
import Subtitle from '../ui/Subtitle.astro'

interface Props {
  name?: string
  description?: string
  price?: number
  image?: {
    src: string
    alt: string
  }
  class?: string
}

const {
  name = 'Try Our Special Offers',
  description = "Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content making it look like readable English.",
  price = 10,
  image = { src: '/images/durazno.webp', alt: 'Special offer image' },
  class: className = '',
} = Astro.props
---

<section
  class:list={['max-w-md', 'mx-auto', 'py-6', 'bg-white', className]}
>
  <Subtitle
    ish2={false}
    iswhite={false}
    class:list={['!text-4xl', '!font-bold', '!text-black', 'mb-2']}
  >
    {name}
  </Subtitle>

  <p class:list={['text-base', 'leading-relaxed', 'text-brand-black', 'mb-4']}>
    {description}
    <br />
    <span
      class:list={`
        italic
      `}
    >
      $ {price} USD
    </span>
  </p>

  <img
    src={image.src}
    alt={image.alt}
    class:list={['w-full', 'h-auto', 'mt-4', 'rounded-lg']}
  />
</section>
