---
interface Props {
  name?: string
  description?: string
  price?: number
  image?: {
    src: string
    alt: string
  }
  class?: string
}

const {
  name = 'Try Our Special Offers',
  description = "Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content making it look like readable English.",
  price = 10,
  image = { src: '/images/durazno.webp', alt: 'Special offer image' },
  class: className = '',
} = Astro.props
---

<article class:list={['max-w-md', 'mx-auto', 'py-6', 'bg-white', className]}>
  <h3 class:list={['text-xl', 'font-bold', 'text-black', 'mb-2']}>
    {name}
  </h3>

  <p class:list={['text-base', 'leading-relaxed', 'text-brand-black', 'mb-4']}>
    {description}
    <br />
    {
      price > 0 && (
        <span
          class:list={`
          italic
        `}
        >
          $ {price} USD
        </span>
      )
    }
  </p>

  <img
    src={image.src}
    alt={image.alt}
    title={image.alt}
    class:list={['w-full', 'h-auto', 'mt-4', 'rounded-lg']}
  />
</article>
